body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px 0;
}

.upload-section {
    text-align: left;
}

.file-input-container {
    margin-bottom: 20px;
}

.file-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.file-input {
    display: none;
}

.upload-button {
    padding: 10px 15px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
}